<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1002400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="CloudFilesUserName" value="USERNAME GOES HERE" />
    <add key="CloudFilesApiKey" value="APIKEYGOES HERE" />
    <add key="snet" value="true" />
    <add key="SiteName" value="ASPXZipIt" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>