<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
    <membership defaultProvider="AspNetReadOnlyXmlMembershipProvider">
      <providers>
        <add name="AspNetReadOnlyXmlMembershipProvider" type="ReadOnlyXmlMembershipProvider" description="Read-only XML membership provider" xmlFileName="~/App_Data/users.xml" />
      </providers>
    </membership>
    <authentication mode="Forms" >
      <forms loginUrl="~/aspxzipit/zipit-login.aspx"></forms>
    </authentication>
  </system.web>
</configuration>